<div id="sectionIncidencias">
    <br>
    Incidencias
    <br>
    <button class="btn-primary" id="buttonSelectIncidencias" >Select</button>
    <button class="btn-primary" id="buttonInsertIncidencias" >Insert</button>
    <button class="btn-primary" id="buttonUpdateIncidencias" >Update</button>
    <button class="btn-primary" id="buttonDeleteIncidencias" >Delete</button>
    
    <div id="formSelectIncidencias">

    <form id="dataSelectIncidencias2">
        <div> ID
            <input id="gid" name="idSelectIncidencias"></input>
        </div>
        <div> Descripcion
            <input id="descripcion" name="inputDescripcionInsertIncidencias"></input>
        </div>
        <div> Fecha
            <input id="fecha" name="inputFechaInsertIncidencias"></input>
        </div>
        <div> Tipo
            <input id="tipo" name="inputTipoInsertIncidencias"></input>
        </div>
        <div> Coordenadas
            <input id="st_asgeojson" name="inputCoordenadasInsertIncidencias"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonSelectIncidenciasAction" >Send</button>
    </form>

    <table id="dataSelectIncidencias" class="table table-hover">
        
    </table>
    
</div>

<div id="formInsertIncidencias">

    <form>
        <div> Descripcion
            <input name="inputDescripcionInsertIncidencias"></input>
        </div>
        <div> Fecha
            <input name="inputFechaInsertIncidencias"></input>
        </div>
        <div> Tipo
            <input name="inputTipoInsertIncidencias"></input>
        </div>
        <div> Coordenadas
            <input name="inputCoordenadasInsertIncidencias"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonInsertIncidenciasAction" >Send</button>
    </form>

<div id="dataInsertIncidencias"></div>
</div>

<div id="formUpdateIncidencias">

    <form>
        <div> ID
            <input name="inputGidUpdateIncidencias"></input>
        </div>
        <div> Descripcion
            <input name="inputDescripcionUpdateIncidencias"></input>
        </div>
        <div> Fecha
            <input name="inputFechaUpdateIncidencias"></input>
        </div>
        <div> Tipo
            <input name="inputTipoUpdateIncidencias"></input>
        </div>
        <div> Coordenadas
            <input name="inputCoordenadasUpdateIncidencias"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonUpdateIncidenciasAction" >Send</button>
    </form>

<div id="dataUpdateIncidencias"></div>
</div>

<div id="formDeleteIncidencias">

    <form>
        <div> ID
            <input name="gidDeleteIncidencias"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonDeleteIncidenciasAction" >Send</button>
    </form>
<div id="dataDeleteIncidencias"></div>

</div>

</div>