<div id="sectionZonasmetro">
    <br>
    Zonas
    <br>
    <button class="btn-primary" id="buttonSelectZonasmetro" >Select</button>
    <button class="btn-primary" id="buttonInsertZonasmetro" >Insert</button>
    <button class="btn-primary" id="buttonUpdateZonasmetro" >Update</button>
    <button class="btn-primary" id="buttonDeleteZonasmetro" >Delete</button>
    
    <div id="formSelectZonasmetro">

    <form id="dataSelectZonasmetro2">
        <div> ID
            <input id="gid" name="idSelectZonasmetro"></input>
        </div>
        <div> Zona
            <input id="zona" name="inputZonaInsertZonasmetro"></input>
        </div>
        <div> Precio
            <input id="precio" name="inputPrecioInsertZonasmetro"></input>
        </div>
        <div> Coordenadas
            <input id="st_asgeojson" name="inputCoordenadasInsertZonasmetro"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonSelectZonasmetroAction" >Send</button>
    </form>
    <table id="dataSelectZonasmetro" class="table table-hover">
        
    </table>

</div>

<div id="formInsertZonasmetro">

    <form>
        <div> Zona
            <input id="inputZonaInsertZonasmetro" name="inputZonaInsertZonasmetro"></input>
        </div>
        <div> Precio
            <input name="inputPrecioInsertZonasmetro"></input>
        </div>
        <div> Coordenadas
            <input name="inputCoordenadasInsertZonasmetro"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonInsertZonasmetroAction" >Send</button>
    </form>

<div id="dataInsertZonasmetro"></div>
</div>

<div id="formUpdateZonasmetro">

    <form>
        <div> ID
            <input name="inputGidUpdateZonasmetro"></input>
        </div>
        <div> Zona
            <input name="inputZonaUpdateZonasmetro"></input>
        </div>
        <div> Precio
            <input name="inputPrecioUpdateZonasmetro"></input>
        </div>
        <div> Coordenadas
            <input name="inputCoordenadasUpdateZonasmetro"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonUpdateZonasmetroAction" >Send</button>
    </form>
<div id="dataUpdateZonasmetro"></div>

</div>

<div id="formDeleteZonasmetro">

    <form>
        <div> ID
            <input name="gidDeleteZonasmetro"></input>
        </div>
        <button class="btn-primary" type="button" id="buttonDeleteZonasmetroAction" >Send</button>
    </form>
<div id="dataDeleteZonasmetro"></div>

</div>

</div>