<div id="divGetBuilding">
        <h2>GET METHOD EXAMPLE</H2>

    <form id="formGetBuilding" class="form-horizontal" onsubmit="event.preventDefault();">
        <div class="form-group">
            <label for="gid"  class="control-label col-xs-3">Specify the gid from the building:</label>
            <div class="col-xs-9">
                <input type="number" class="form-control" id="gid" name="gid" data-toggle="tooltip" title="Specify the gid">
            </div>
        </div>
            <button class="btn-primary" id="buttonGetBuilding" data-toggle="tooltip" title="Retrieve data">Get building data</button>
        </div>
    </form> 
</div><!--divFomGetBuilding -->